black
email-validator
flake8
flask
flask-debugtoolbar
flask-login
flask-mail
flask-migrate
flask-sqlalchemy
flask-wtf
ipython
isort
jupyter
matplotlib
mypy
pandas
plotly
pytest
python-dotenv
scikit-learn
sqlalchemy-stubs
types-Flask-Migrate
